{% load bootstrap3 %}
<ul class="pagination">
    <li>
        <a href="{{ request.path }}?page=1">
            {% bootstrap_icon "fast-backward" %}
        </a>
    </li>
    {% for i in page_obj.paginator.page_range %}
    <li class="{% if i == page_obj.number %}active{% endif %}">
        <a href="{{ request.path }}?page={{i}}">{{i}}</a>
    </li>
    {% endfor %}
    <li>
        <a href="{{ request.path }}?page={{page_obj.paginator.num_pages}}">
            {% bootstrap_icon "fast-forward" %}
        </a>
    </li>
</ul>