<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Treecount{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Treecount</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'expense_create' %}">Add an expense</a></li>
            <li><a href="{% url 'expense_list' %}">Show expenses</a></li>
            <li><a href="{% url 'refund_create' %}">Add a refund</a></li>
            <li><a href="{% url 'refund_list' %}">Show refunds</a></li>
            <li><a href="{% url 'balance' %}">Show balance</a></li>
            <li><a href="{% url 'balance_solution' %}">Show balance solution</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout' %}?next=/">{% bootstrap_icon "log-out" %} Logout</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    {% bootstrap_javascript %}
</body>
</html>