<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Treecount{% endblock %}</title>
    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Treecount</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/expense/add/">Add an expense</a></li>
            <li><a href="/expense/list/">Show expenses</a></li>
            <li><a href="/balance/">Show balance</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="/logout/?next=/">{% bootstrap_icon "log-out" %} Logout</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
</body>
</html>