{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}
    {% include "partials/pager.html" %}

    <table class="table table-striped">
        <tr>
            <th></th>
            <th>Date</th>
            <th>Amount</th>
            <th>Creditor</th>
            <th>Debitor</th>
            <th></th>
        </tr>
        {% for refund in refund_list %}
            <tr>
                <td>
                    {% if refund.proof %}
                        <a target="_blank" href="{{ refund.proof.url }}"
                           title="View proof of payment">
                            {% bootstrap_icon "file" %}
                        </a>
                    {% endif %}
                </td>
                <td>{{ refund.date }}</td>
                <td>{{ refund.amount }}</td>
                <td>{{ refund.creditor.username }}</td>
                <td>{{ refund.debitor.username }}</td>
                <td>
                    <a href="{% url "refund_update" refund.id %}">
                        {% bootstrap_icon "edit" %}
                        Update
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    {% include "partials/pager.html" %}
{% endblock %}